*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#background{
    position:relative;
}

#upper-background{
    height: 15vh;
    width: 100%;
    background-color: #009688;
}

#lower-background{
    height: 85vh;
    width: 100%;
    background-color: rgb(226, 226, 226);
} 

#chat{
    width: 80%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 10%;
}

#left-chat{
    width: 40%;
    background-color: white;
}

#right-chat{
    width: 60%;
}

#user-top-right i{
    color:grey;
    margin-right: 10px;
}

#notification-row{
    height: 90px;
    width: 100%;
    background-color: rgb(135, 227, 250);
}
#notification-circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    margin:5px 10px;
}

#notification-circle i {
    color: rgb(135, 227, 250);
    font-size: 1.6rem;
}

#notification-text a {
    color:grey;
    font-size: 0.8rem;
}

#chats-list li{
    list-style-type: none;
    height: 70px;
}

#right-active-user i{
    color:grey;
    margin-right: 10px;
}
#chat-display {
    height: 450px;
    background-image: url(../img/mine.jpg);
    overflow: auto;
}
#writing-bar{
    height: 71px;
    background-color: rgb(218, 218, 218);
}

.top-left{
    height: 70px;
    width: 100%;
    background-color: #e7e9e7;
}

.top-right{
    height: 70px;
    width: 100%;
    background-color: #d8dbd8;
}

.image-container{
    overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.image-container img{
    width: 100%;
}

.user-name{
    margin-top: 10px;
}

.image-chatlist{
    margin-right: 20px;
}
.last-message{
    color:lightgrey;
    font-size:0.7rem;
}
.last-seen-text{
    font-size: 0.8rem;
    color: rgb(105, 105, 105);
}
.message-box{
    max-width: 300px;
    border-radius:20px;
    margin:10px;
    overflow-wrap: break-word;
}
.sent{
    align-self: flex-end;
    background-color: rgb(213, 249, 186);
}
.received{
    background-color: white;
}
.message{
    padding: 5px;
}
.writing-icon{
    width: 60px;
    display: flex;
    justify-content: center;
}
.active{
    background-color: rgb(241, 241, 241);
}